[submodule "static/polestar"]
	path = static/polestar
	url = git@github.com:uwdata/polestar.git
	branch = gh-pages
[submodule "static/voyager"]
	path = static/voyager
	url = git@github.com:vega/voyager.git
	branch = gh-pages
[submodule "static/vega-lite"]
	path = static/vega-lite
	url = git@github.com:vega/vega-lite.git
	branch = gh-pages
