name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python: ["3.8", "3.9", "3.10", "3.11"]

    name: Python ${{ matrix.python }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Setup poetry
        uses: abatilo/actions-poetry@v2.3.0
        with:
          poetry-version: 1.3.2

      - name: Configure poetry
        run: poetry config virtualenvs.in-project true

      - name: Install Python dependencies
        run: poetry install

      - run: poetry run jupyter nbextension install vega --py --sys-prefix

      - name: Setup Node
        uses: actions/setup-node@v3

      - name: Install Node dependencies
        run: yarn --frozen-lockfile

      - name: Lint TypeScript
        run: yarn lint

      - name: Build JavaScript
        run: yarn build

      - name: Run pytest
        run: poetry run pytest vega
